{% from "macros/_form.html" import render_form %}

{% set page_title = user.name %}

{% extends "layouts/base.html" %}

{% block body %}
<h2>Hello, {{ user.name }}!</h2>
{{ render_form(url_for('message.add_message'), form) }}

  <ul class=messages>
  {% for message in messages %}
    <li><img src="{{ message.publish_user.avatar }}">
      <strong><a href="/user/{{ message.user_id }}/profile">{{ message.publish_user.name }}</a></strong>
      {{ message.text }}
      <small>&mdash; {{ message.pub_date|datetimeformat }}</small>
  {% else %}
    <li><em>There's no message so far.</em>
  {% endfor %}
  </ul>
{% endblock %}
